:root {
  /* creating variables for colors to be used */
  --darker-green: #69db7c;
  --lighter-green: #ebfbee;
  --text-color: #000000;
  --nav-color: #ffffff;
  --sky-blue: #87ceeb;

  /* creating variables for spacing */
  --base-spacing: 1rem;
  --nav-height: 4rem;
  --nav-button-width: 10rem;
  --footer-height: 0.5rem;
}

/* styling the general page */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Trebuchet MS;
  background-color: var(--darker-green);
  color: var(--text-color);
}

/* styling the nav bar */
nav {
  background-color: var(--nav-color);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0.125rem 0.3rem rgba(0, 0, 0, 0.2);
  z-index: 100; /* ensure nav stays on top */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0.9rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

nav li {
  display: flex;
  justify-content: center;
  width: var(--nav-button-width);
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  padding: 0.625rem;
  transition: color 0.3s ease;
  background-color: var(--darker-green);

  /* borders for buttons */
  border: 0.25rem solid var(--text-color);
  border-radius: 0.2rem;
  margin: 0 0.3rem;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

header {
  padding-top: calc(
    var(--nav-height) + 1rem
  ); /* dynamic padding based on nav height */

  height: calc(50vh - var(--nav-height) - var(--footer-height) / 2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* styling the banner */

.banner {
  box-shadow: 0 0.125rem 0.3rem rgba(0, 0, 0, 0.2);
}

.banner-text {
  color: var(--text-color);
  text-align: center;
  padding: 5rem;
}

.banner-header {
  font-size: 5 rem;
  margin-bottom: 1rem;
}

.banner-subtitle {
  font-size: 1 rem;
  margin-bottom: 1rem;
}

/* styling the main content */
main {
  background-color: var(--lighter-green);
  flex: 1;
  padding: 1.25rem;

  height: calc(50vh - var(--footer-height) / 2);
  overflow-y: auto;
  box-sizing: border-box;
}

footer {
  background-color: var(--lighter-green);
  color: var(--text-color);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
